{% extends 'base.html' %}
{% block title %} {{ article.title }}{% endblock %}
{% block content_nav %} {% endblock %}
{% block content %}
<article class="panel article-card">
    <h1 class="article-title "> <a href="{{ article.url }}" class="title-link">{{ article.title }}</a>
    </h1>
    <div class="article-info">
        <span class="post-date">发表于：{{ article.date | strftime('%Y/%m/%d') }}</span>
        <span class="category">分类：<a href="{{ article.category.url }}">{{ article.category }}</a></span>
        <span class="tags">标签：
            {% if article.tags %}
            {% for tag in article.tags %}<label for="" class=""><a
                    href="{{ tag.url }}">{{ tag }}</a></label>{% endfor %}
            {% else %}
            <label for="">None</label>
            {% endif %}
        </span>
    </div>
    <div class="article-content">
        {{ article.content }}
    </div>
</article>

<div class="panel prev-next-pages">
    <div class="row">
        <div class=" col-md-6 prev ">
            {% if article.prev_article %}
            <span>上一篇：</span>
            <a href="{{ article.prev_article.url }}" class="prev-link">{{ article.prev_article.title }}</a>
            {% endif %}
        </div>
        <div class=" col-md-6 text-right ">
            {% if article.next_article %}
            <span>下一篇：</span>
            <a href="{{ article.next_article.url }}" class="next-link">{{ article.next_article.title }}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}